.header-logo
{
    width: 25vw;
}

.item-ios.item-block .item-inner{
    border-bottom:unset;
}

.list-md .item-block .item-inner{
    border-bottom:unset;
}

.item-md.item-block .item-inner{
    border-bottom:unset;
}

.toolbar-background {
    //background-image: url('http://localhost:8100/assets/images/background.jpg')!important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.fab{
    contain: layout;
}

button[ion-fab] {
    overflow: visible;
    position: relative;

    ion-label {
        position: absolute;
        top: -8px;
        right: 40px;

        color: white;
        background-color: rgba(0,0,0,0.7);
        line-height: 24px;
        padding: 4px 8px;
        border-radius: 4px;
    }
}

[dir="ltr"] .alert-md .alert-wrapper, [dir="rtl"] .alert-md .alert-wrapper {
    border-radius: 5px;
}