.header-logo
{
    width: 25vw;
}

.toolbar-background {
    //background-image: url('http://localhost:8100/assets/images/background.jpg')!important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}