<!--
  Generated template for the GroupViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{CurrentGroup?.nome}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="editGroup()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="group-content">

  <div class="list-big">
    <ion-list>
      <button class="list-item" ion-item>
        <ion-row no-padding class="content-row">
          <ion-col no-padding width-33 class="item-avatar">
            <preload-image class="avatar-image" [ratio]="{w:1, h:1}" src="/assets/images/standard-group.png"></preload-image>
          </ion-col>
          <ion-col no-padding width-66 class="item-content">
            <h3 class="item-title">{{CurrentGroup?.nome}}</h3>
            <p class="item-description" rows="3">{{CurrentGroup?.descrizione}}</p>
          </ion-col>
        </ion-row>
      </button>
    </ion-list>
  </div>

  <ion-item [class]="CurrentGroupStatusClass">
    <ion-row class="group-action-row">
      <ion-col padding width-100>
        <div class="group-action-message">{{CurrentGroupStatusText}}</div>
      </ion-col>
    </ion-row>
    <ion-row class="group-action-row" *ngIf="CurrentGroupStatusValue == '0'">
      <ion-col padding width-100>
        <button ion-button width-100 (click)="enterGroup()" icon-start color="theme-color-1" style="width:100%">
          <ion-icon name="checkmark"></ion-icon>
          {{'ENTER_GROUP' | translate}}
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="group-action-row" *ngIf="CurrentGroupStatusValue == '1'">
      <ion-col padding width-100>
        <button ion-button width-100 (click)="leaveGroup()" icon-start color="danger" style="width:100%">
          <ion-icon name="close"></ion-icon>
          {{'LEAVE_GROUP' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </ion-item>


  <ion-item-group>
    <ion-item-divider class="players-divider">{{ 'PLAYERS' | translate }}</ion-item-divider>
    <ion-item class="players-item" *ngFor="let user of CurrentGroup?.players">
      <ion-avatar item-left>
        <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="user.Picture"></preload-image>
      </ion-avatar>
      <h2 class="item-title">{{user.NomeCompleto}}</h2>
      <ion-note class="item-time" item-right>{{user.Ruolo}}</ion-note>
    </ion-item>
  </ion-item-group>

</ion-content>